.footer{
    height: 80px;
    background-image: none;
    background-color: #232f3e;
    display: flex;
    justify-content: center;

}
.footer_logo {
    object-fit: contain;
    width: 80px;
    margin: 6px 2px 6px 2px;
}