<div class="login">
  <div class="login_container">
    <img routerLink="/" 
          src="http://pngimg.com/uploads/amazon/amazon_PNG21.png" 
          class="login_logo">
    
    <div class="login_form">
      <h1>Sign-in</h1>
      <form action="" [formGroup]="LoginForm">
        <h5>Email</h5>
        <input type="email" formControlName = "email">
        <h5>Password</h5>
        <input type="password" formControlName = "password">
        <button class="login_signIn_button" (click)="signIn()">Sign In</button>
        <p class="login_terms">By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
        <button class="login_create_button" (click)="createAccount()">Create Amazon Account</button>
      </form>
    </div>
  </div>
</div>